body,
html {
  height: 100%;
  width: 100%;
  background-color: black;
  margin: unset;
  background: linear-gradient(104.12deg, #1d3345 0%, #000000 100%);
  background-attachment: fixed;
  color: white;
}
