@import "@/styles/variables";

div.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stars {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  overflow: hidden;
  width: 100%;
  font-size: 0.05vmax;
}

.logo {
  max-width: 90%;
  object-position: bottom;
  object-fit: contain;
}

.subLogo {
  font-size: 2rem;
  margin-top: 0.7rem;

  @media (max-width: $breakpoint-md) {
    font-size: 1.5rem;
  }

  @media (max-width: $breakpoint-sm) {
    font-size: 1.1rem;
  }

  @media (max-width: $breakpoint-xs) {
    font-size: 1rem;
  }

  @media (max-width: $breakpoint-xxs) {
    font-size: 0.9rem;
  }
}

.links {
  position: absolute;
  bottom: 2rem;
  display: flex;
  gap: 3.75rem;
  font-size: 1.5rem;

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: #c9c9c9;
  }

  @media (max-width: $breakpoint-md) {
    gap: 2.5rem;
  }

  @media (max-width: $breakpoint-sm) {
    gap: 0;
    justify-content: space-between;
    width: 90%;
    font-size: 1.3rem;
  }

  @media (max-width: $breakpoint-xxs) {
    font-size: 1.1rem;
  }
}

.title {
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: unset;

  @media (max-width: $breakpoint-lg) {
    font-size: 4rem;
  }

  @media (max-width: $breakpoint-md) {
    font-size: 3rem;
  }

  @media (max-width: $breakpoint-sm) {
    font-size: 2.9rem;
  }

  @media (max-width: $breakpoint-xs) {
    font-size: 2rem;
  }

  @media (max-width: $breakpoint-xxs) {
    font-size: 1.8rem;
  }
}

div.quemSomos {
  width: fit-content;
  max-width: 95%;
  margin: 0 auto;
  gap: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $breakpoint-xl) {
    flex-direction: column;
    gap: 0;
    justify-content: space-evenly;
  }

  .about {
    max-width: 50rem;
    height: fit-content;

    .subTitle {
      margin-top: 0.5rem;
      margin-bottom: 0;
      font-size: 2.5rem;
      text-align: left;

      @media (max-width: $breakpoint-lg) {
        font-size: 2rem;
      }

      @media (max-width: $breakpoint-md) {
        font-size: 2rem;
      }

      @media (max-width: $breakpoint-sm) {
        font-size: 1.4rem;
      }

      @media (max-width: $breakpoint-xs) {
        font-size: 1.1rem;
      }
    }
  }

  .tecnologias {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 100vw;

    @media (max-width: $breakpoint-xl) {
      display: none;
      flex-direction: row;
      align-items: center;
    }
  }
}

div.techSwiper {
  display: none;

  @media (max-width: $breakpoint-xl) {
    overflow: visible;
    display: block;
    width: 100%;
    display: flex;
    align-items: center;

    & :global(.swiper-wrapper) {
      align-items: center;
    }
  }
}

div.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    margin-bottom: 2rem;
  }
}

.swiper {
  --swiper-navigation-color: #fff;
  width: 70rem;
  max-width: 100%;

  @media (max-width: $breakpoint-lg) {
    --swiper-navigation-sides-offset: 5%;
    --swiper-navigation-size: 2rem;
    font-size: 0.875rem;
  }

  .swiperSlide {
    display: flex;
    justify-content: center;

    @media (max-width: $breakpoint-lg) {
      width: 100%;
    }
  }
}

.itemPortfolio {
  margin: 0 2.5%;
  position: relative;
  aspect-ratio: 480/241;
  width: 60rem;
  max-width: 100%;
  border-radius: 1.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  img {
    object-fit: cover;
  }

  @media (orientation: portrait) {
    aspect-ratio: 375/667;
    width: unset;
    height: 80vh;
    max-height: 50rem;
  }
}

.info {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 21rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.98%, #000000 83.6%);
  align-items: flex-end;
  display: flex;

  @media (max-width: $breakpoint-lg) {
    padding-bottom: 1rem;
  }

  @media (orientation: portrait) {
    padding-bottom: 0;
  }
}

.infoContent {
  display: flex;
  width: 100%;
  padding: 1rem;
  height: 3.5rem;

  p {
    display: block;
    flex-grow: 1;
    color: #fff;
    margin: unset;
  }

  .open {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    border-radius: 0.6rem;
    width: fit-content;
    background-color: white;
    padding: 0.5rem;
    height: fit-content;
    color: black;
    text-decoration: none;
  }

  @media (orientation: portrait) {
    height: 6rem;
    padding: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;

    .open {
      font-size: 0.8rem;
      width: 95%;
    }
  }
}

.portfolioImage {
  @media (orientation: portrait) {
    display: none;
  }
}

.portfolioImageMobile {
  @media (orientation: landscape) {
    display: none;
  }
}

.link {
  cursor: pointer;
}

.mainSwiper {
  height: 100vh;
}
