@import "@/styles/variables";

.tech {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  font-size: 2.5rem;
  white-space: nowrap;

  p {
    margin: unset;
  }

  @media (max-width: $breakpoint-xl) {
    font-size: 1.5rem;
    align-items: center;
    flex-direction: column-reverse;
  }

  @media (max-width: $breakpoint-md) {
    font-size: 1.5rem;
  }

  @media (max-width: $breakpoint-sm) {
    font-size: 1.4rem;
  }

  @media (max-width: $breakpoint-xs) {
    font-size: 1.2rem;
  }

  @media (max-width: $breakpoint-xxs) {
    font-size: 0.95rem;
  }
}
